{% extends 'base.html' %}
{% block content %}
<h1>{{ article.title }}</h1>
<div>{{ article.content|markdown }}</div>
<p><a href="/article/{{ article.id }}/edit">{{ _('Edit') }}</a></p>
<h3>{{ _('Characteristics') }}</h3>
<ul>
<li>{{ _('Loss Index') }}: {{ article.loss_index }}</li>
<li>{{ _('Meme Potential') }}: {{ article.meme_potential }}</li>
<li>{{ _('Reality Disruption') }}: {{ article.reality_disruption }}</li>
<li>{{ _('Legal Risk') }}: {{ article.legal_risk }}</li>
<li>{{ _('Ethical Toxicity') }}: {{ article.ethical_toxicity }}</li>
<li>{{ _('Scalability') }}: {{ article.scalability }}</li>
<li>{{ _('User Retention') }}: {{ article.user_retention }}</li>
<li>{{ _('Implementation Cost') }}: {{ article.implementation_cost }}</li>
<li>{{ _('Side Effect Index') }}: {{ article.side_effect_index }}</li>
<li>{{ _('Inverse Genius Rating') }}: {{ article.inverse_genius_rating }}</li>
</ul>
<h3>{{ _('Versions') }}</h3>
<ul>
{% for v in versions %}
    <li>{{ _('Version') }} {{ v.version }} - {{ v.created_at }}<div>{{ v.content|markdown }}</div></li>
{% endfor %}
</ul>
{% endblock %}
